@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans[wdth,wght].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: 'Instrument Sans', serif;
}